footer(role='contentinfo' class="siteFooter")
	ul.reset.reset--list.siteFooter__nav
		li.first
			span.signature © 2021 Garret Goodhue. 
			button.buttonReset.link--bottomBorder.link.footer__button.link--bottomBorder__footer.js-switchColors Huemor Me
		each item in data.footernav
			li
				a(href=item.path, class="link--bottomBorder link--bottomBorder__footer" rel="prefetch")=item.title
