doctype html
block html
    html(lang='en-US' id='js-switchTheme' class="primary")
        head
    block title
        title Garret Goodhue | Web Design and Developer
    // meta 
    block styles
        link(rel='stylesheet', href='../public/style.css?__inline=true' async)
    //- link(href='//fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css' onload="this.media='all';")
    meta(charset='UTF-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')  
    meta(name='description', content='The very personal website of Garret Goodhue')
    //- link(rel="icon" href="/_/img/ico/favicon.ico")
    //- link(href="/_/img/ico/apple-touch-icon.png" rel="apple-touch-icon")
    //- link(href="/_/img/ico/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76")
    //- link(href="/_/img/ico/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120")
    //- link(href="/_/img/ico/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152")
    block scripts
        script(src='../public/_/js/scripts.js?__inline=true' async)
    script.
        (function(d) {
        var config = {
        kitId: 'yav2ouf',
        scriptTimeout: 3000,
        async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    //- Javascript
    //- // if lt IE 9
    //- script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    body
    block content