h1.h2 Hey, I'm Garret Good<span id="js-switchColors" class="link link--bottomBorder link--bottomBorder--hue ">hue</span>
p I’m a product designer living to Berlin, Germany.
p I have eight years experience designing and developing web and mobile applications. I'm currently working at <a href="http://wayfair.com">Wayfair</a> as a UI/UX Designer in Berlin. Previously, I partnered with an awesome team at <a href="http://www.deloittedigital.com/us/">Deloitte Digital</a> and I also worked with <a href="http://www.desc.org/">Downtown Emergency Service Center (DESC)</a> and <a href="http://www.aiga.org/">AIGA</a> to help <a href="http://www.seattletimes.com/seattle-news/politics/count-of-seattle-king-county-homeless-finds-4505-people-sleeping-outside/">homelessness Seattle.</a> My aim as a designer is make to our lives less stressful in anyway possible.
p While I'm not designing, you can find me in the kitchen cooking a new recipe I been hunting down on the internet.
p  Want to see samples of my work or hire a freelance designer? Contact me at <a href="mailto:garretgoodhue@gmail.com">garretgoodhue@gmail.com</a>