//- .stick Sprechen Sie Deutsch? Können Sie bitte mich korrigieren?

h1.h2 Hallo, Ich bin Garret Good<span id="js-switchColors" class="link link--bottomBorder fadedown">hue</span>
p Ich bin ein Product Designer in Berlin Deutschland fahren.
p Ich habe über sechs Jahre Erfahrung Webseite und Mobile Applications gestalten. Im Vorfeld habe ich mit einer großartige Mannschaft bei <a href="http://www.deloittedigital.com/us/" class="link link--bottomBorder">Deloitte Digital</a>  und mit <a href-"http://www.desc.org/" class="link link--bottomBorder">Downtown Emergency Service Center (DESC)</a> und <a href="http://www.aiga.org/" class="link link--bottomBorder">AIGA</a> um zu <a href="http://www.seattletimes.com/seattle-news/politics/count-of-seattle-king-county-homeless-finds-4505-people-sleeping-outside/" class="link--bottomBorder link">Obdachlosigkeit in Seattle</a> zusammen gearbeitet zu helfen. Mein Ziel als ein Designer ist Leben einfacher machen und ein weniger Stressig in irgendeiner Weise möglich.
p Wenn ich nicht entwerfe, können Sie mich in der Küche ein neues Rezept kochen finden oder üben mein Deutsch.
p Mötchen Ihnen Beispiele von meiner Arbeit anschauen oder Sie stellen einen Freelance Designer ein?<a href="mailto:garretgoodhue@gmail.com" class="link link--bottomBorder">garretgoodhue@gmail.com</a>