main.project.project--cycling
	+projectHero('Deloitte Cycling')
	.row.row--rowColumn.row--projectContent.projectContent--cycling
		p Until 2012, there has never been a professional cycling team  out of Africa. That all changed when Team Dimension Data decided to register as Africa’s first professional continental team. Over time, Team Dimension Data gained notoriety and teamed up with Deloitte and with a valuable cause, Qhubeka. 

		p At Deloitte, I designed an interactive experience that told the story of Deloitte’s relationship with Team Dimension Data and Qhubeka.
		img(src="_/img/thumbnails/cycling_thumb.jpg", alt="Mobile view of the one page experience" class="img--full scrollReveal")
		img(src="_/img/cycling/mobile_screens.jpg", alt="Mobile view of the one page experience" class="img--full scrollReveal")
		img(src="_/img/cycling/mobile_desktop_fullheight.jpg", alt="Entire page of the cycling one page site" class="img--full scrollReveal")
		img(src="_/img/cycling/style_guide.jpg", alt="Style guide for web components used in the one page application" class="img--full scrollReveal")
