main.project.project--datapointCard
  //- +projectHero('Datapoint Card')
  .row--projectContent.projectContent--datapointCard
    p From switching to Storefront, the Customer Facing Product, in 2018 to Partner Home, Wayfair's Business to Business Platform). I noticed Partner Home suffered immensely from visual consistency across it’s roughly 180 tools. Unlike Storefront where the design system is quite robust and diverse, the Partner Home design system library was underdeveloped. While working on the dashboard team, I was given the opportunity to contribute to the library by working on component called the datapoint card component 
    p This was a challenging effort since there were already many simlar implementations however no standardization of its usage. For this I devised a proposal of the companent and guidance on how to implement it. In 2019 the Datapoint component my proposal was accepted and the component added to the library.
    img(src="_/img/datapoint-card/datapointcard-anatomy.png" alt="Different Elements of the Cards")
    img(src="_/img/datapoint-card/datapoint-sizes.gif" alt="Different Sizes of Cards")
    img(src="_/img/datapoint-card/datapoint-fontsizes.jpg" alt="Card Sizes font specifications")
    img(src="_/img/datapoint-card/datapoint-padding.jpg" alt="functionality of the datapoint card")
    img(src="_/img/datapoint-card/datapointcard-functionality.jpg" alt="example of the datapoint card a website")