main.project
  +projectHero('Deloitte Talent Platform')
  .row--projectContent.projectContent--dtp
    p In early of February of 2015, a team from internal Deloitte reached out to us at Deloitte Digital to design branding for a suite of software products that they planned on releasing. Our goal for this project was to create a consistent visual system that would be recognizable 
    p Created by a number of different groups within Deloitte, the Deloitte Talent Platform (DTP) is a collection of products designed to help companies take their Talent staffing and initiatives to the next level.

    img(src="_/img/dtp/icon_logo_suite.svg", alt="Logo designs for the of the" class="img--full scrollReveal")

    //- img(src="_/img/dtp/clink_logo_reverse.svg", alt="" class="img--full scrollReveal")

    img(src="_/img/dtp/clink_app_landing.jpg", alt="Splash page of the Clink application" class="img--full scrollReveal")

    img(src="_/img/dtp/clink_posters.jpeg" alt="Clink posters being promoted in a subway" class="img--full scrollReveal")
    
    img(src="_/img/dtp/clink_softwarebox.jpeg" alt="Clink software box design" class="img--full scrollReveal")

    //- img(src="_/img/dtp/clink_stationary.jpg" class="img--full scrollReveal")
      
    
