main.project.project--familyHub
  +projectHero('Family Hub')
.row--projectContent.projectContent--familyHub
  p Being organized is hard enough, with a family even more so. Parents have a lot to manage, whether it’s planning nutritious meals for the week or remembering to pick up the kids after soccer practice. That’s where the Family Hub comes in. The Family Hub is a collection of mobile applications created to provide peace of mind to parents by easily sorting out tasks, planning events, meals, etc. so they can have more balance in their lives and time for the important things in life.

  img(src="_/img/thumbnails/family_hub_thumb.jpg" alt="Family Feed" class="img--full scrollReveal")

  img(src="_/img/family-hub/feed_menu.jpg" alt="App Landing page" class="img--full scrollReveal")

  img(src="_/img/family-hub/event_screens.jpg" alt="Event Screens" class="img--full scrollReveal")

  img(src="_/img/family-hub/circle_screens.jpg" alt="Screen of the circles feature in family hub that illustrates how members can be assign to groups" class="img--full scrollReveal")

  img(src="_/img/family-hub/task_screens.jpg" alt="Screen flow of how users create tasks in the Family Hub Screens" class="img--full scrollReveal")
  
  