main.project.project--inclusion
	+projectHero('Deloitte Diversity & Inclusion')
	.row--projectContent.projectContent--inclusion
		p Despite years of progress diversity still remains an issue in the workplace. Deloitte wanted to lead the way in promoting awareness amongst their employees to feel safe enough to be their true selves and comfortable enough to discuss discrimination in the workplace. This acted as a hub for resources, campaigns, and general information regarding diversity and inclusion.
		img(src="_/img/inclusion/homepage-hero.jpg", alt="Banner of the labs page with a mobile mockup" class="img--full scrollReveal")
		img(src="_/img/inclusion/labs-hero.jpg", alt="Banner of the labs page with a mobile mockup" class="img--full scrollReveal")
		img(src="_/img/inclusion/labs-people.jpg", alt="Percentages of people with different genders and ethnicities that are affected by inclusion" class="img--full scrollReveal")
		img(src="_/img/inclusion/homepage-icons.jpg", alt="Icons used on the homepage of the Inclusion site" class="img--full scrollReveal")
		img(src="_/img/inclusion/inclusion_icons.svg", alt="Three icons to tell the story about " class="img--full scrollReveal")
