//- include ../../mixins/worknav
//- include ../../partials/borders,
section.about
	.row.row--rowColumn.row--home.row--center
		h1.h1.hero--home__h1 Hello, I'm Garret Good<span class="js-switchColors link--bottomBorder link--bottomBorder--hue">hue</span>!
		p.about__p I’m a product designer living in Berlin, Germany. I've been doing this for seven years. When I'm not designing or coding, I enjoy cooking, Brazilian Jiu-Jitsu, and learning German.
		.scrollArrow
			a(data-scroll href="#projects")
				span.chevron.chevron--bottom
section.projects 
	.row.row--rowColumn.row--home.row--center.row--projects.row--projects--header
		h2.h1.h1--projects#projects Projects 
		.headerBorder.headerBorder--projects
	.row.row--projects.row--projects--slats.row--home
		.projectsSlats.projectsSlats--grid.grid-6-col
			each item, index in data.projects
				if index <= 1
						+projectSlat(item.title, item.path, item.thumbnail, item.excerpt)(class="projectsSlats__div")
		.projectsSlats.projectsSlats--grid.grid-6-col
			each item, index in data.projects
				if index >= 2 && index <= 10
						+projectSlat(item.title, item.path, item.thumbnail, item.excerpt)(class="projectsSlats__div")