main.project.project--intergames
  +projectHero('Intergames')
  .row--projectContent.projectContent--intergames
      img(src="_/img/thumbnails/intergames_thumb.jpg" alt="")

      p Intergames is an mobile application where language learners engage with native speakers in their language through games conversation.

      h3 Interview insights

      img(src="_/img/intergames/interviews.svg" alt="Interview findings of language learners")

      h3 Meet Ian

      img(src="_/img/intergames/ian_persona.png" alt="A persona of, Ian, language learner who likes to travel and speak French")

      h3 Competitive Analysis

      img(src="_/img/intergames/competitive_analysis.svg" alt="A comparison of functionality between language learning applications")

     
      h3 Problem Statement

      p.problem How might we immerse language learners and encourage them to speak a foreign language?


      h3 Prototypes

      img(src="_/img/intergames/low_fidelity_prototype.png" alt="instructions of game and app functionality")
      
      img(src="_/img/intergames/wireframe_annotations.png" alt="instructions of game and app functionality")

      a.btn(href="https://marvelapp.com/10ha9aa" target="_blank") View prototype