main.project.project--kickstart
		+projectHero('Kickstart')
	.row--projectContent.projectContent--kickstart
	p Kickstart is a scaffolding tool the gets your development projects started off in no time. 
		| Built while at Deloitte Digital as a solution to expedite our workflow and boilerplate for our ligtweight applications. 
		| It aimed to be light, fast and flexible to both the project and the developer’s interests.
	
	img(src="_/img/kickstart/terminal-part-1.gif" alt="Kickstart being intiated" class="img--full scrollReveal")

	h3 Folder structure

	img(src="_/img/kickstart/terminal_folder_structure.svg" alt="Kickstart being intiated" class="img--full scrollReveal")
