main.project.project--miniDeloitte
  +projectHero('Mini-Deloitte')
  .row--projectContent.projectContent--miniDeloitte
      p Who wants to go through another boring corporate learning video? Our team believed there was a way to make learning an entertaining experience. Over a  nine month period, our team created “Mini Deloitte”, an interactive mobile game designed to educate employees on the Deloitte Consulting strategy. 

      p We shipped to over 29,000 individual Deloitte practitioners giving each of them control of their own “mini” Deloitte office building. Each player’s goal was to build out their tower with floors and practitioners and do so by answering quick trivia questions about the company strategy. To date, over 3 million questions have been answered correctly and nearly a quarter of our practitioners have completed the game.

      ul.reset.stats.scrollReveal
        li
            p.stat.h3 29,000
            span.statDescription Consultants Targeted
        li
            p.stat.h3 3,000,000
            span.statDescription Questions Answered
        li
            p.stat.h3 24%
            span.statDescription Completed the Game
      
      img(src="_/img/thumbnails/mini_deloitte_thumb.jpg" alt="A screenshot of the Mini Deloitte being played on a iPhone 6" class="img--full scrollReveal")

      h3.h3#interface The interface
    
      .container.container--video.scrollReveal
        video(id="floorVideo-js" class="video" controls height="100%" width="100%" autoplay loop muted poster="_/img/mini-deloitte/floor_selection_videoplaceholder.jpg")
          source(src="_/video/mini-deloitte/add_floor_loop.webmd" type="video/webmd")
          source(src="_/video/mini-deloitte/add_floor_loop.ogv" type="video/ogv")
          source(src="_/video/mini-deloitte/add_floor_loop.mp4" type="video/mp4")
          p Your browser does not support the <code>video</code> element.

      img(src="_/img/mini-deloitte/practitioner_detail.png", alt="Two mockups of the floor view and the practitioner detail view" class="img--full scrollReveal")

      img(src="_/img/mini-deloitte/quiz_screens.png", alt="Three screens that showcase the steps required to complete a quiz" class="img--full scrollReveal")

      h3.h3#game-art Game Art
      img(src="_/img/mini-deloitte/character_designs.png"  alt="Various pixel art character designs" class="img--full scrollReveal")

      img(src="_/img/mini-deloitte/floor_animation.gif", alt="An animation of a floor designed" class="img--full scrollReveal") 
      img(src="_/img/mini-deloitte/building_exterior.jpg", alt="" class="img--full scrollReveal")