main.project.project--mpol
	+projectHero('Milk Producers Online')
	.row--projectContent.projectContent--mpol
		p Milk Producers Online is a resource for dairy farmers affiliated with Land of Lakes to track the quality of their milk. After a recent redesign, Land of Lakes partnered with Deloitte Digital to make it a more efficient user experience.
		img(src="_/img/thumbnails/mpol_thumb.jpg" alt="The Milk Producers Online Dashboard design" class="img--full scrollReveal")
		
		figure.figure.scrollReveal
			img(src="_/img/mpol/desktop_comparison.jpg" alt="A comparison between the old design verses the new design" class="img--full img--figcaption")
			figcaption.figcaption A comparison of the Milk Producers Online 2013 overview page (left) and the proposed design by Deloitte Digital (right)
			
		img(src="_/img/mpol/tulare_vs_other.jpg" alt="Tulare compared to other farming locations" class="img--full scrollReveal")
		img(src="_/img/mpol/site_components.jpg" alt="A sheet of the site components that were designed for Milk Producers Online" class="img--full scrollReveal")