main.project.project--productWatchlist
  +projectHero('Product Watchlist')
  .row--projectContent.projectContent--productWatchlist
    p In Early 2020 just before the people In the peak of the coronavirus, my team was tasked with a difficult project where we were asked to build a feature that requires Suppliers to see their performance on a product level. Previously our team, has focused on exposing singlar merics on the dashboard however this project  as much more ambiguous and challenging for all members
    p Our goal in this project was to show suppliers how their products were performing and incentivise them take action based on to improve their products performance.
    p This effort involved a great deal of research and design work needed to ensure the features success and provide Suppliers with the detail they needed to improve their products on Wayfair.