main.project.project--pdpsearch
  //- +projectHero('Product Detail Search')
  .row--projectContent.projectContent--pdpsearch
      p In order to complete a purchase, customers need to be sufficiently confident that a product meets their needs. The Self-Service Product Detail Search allows customers to find specific information in each of the products information sections. Our team launched this project in June 2018.
      h3 Results
      img(src="_/img/thumbnails/searchproduct-mobile.png" alt="Screenshots of Search Prodcuts on Desktop and Mobile")
      img(src="_/img/thumbnails/searchproduct-desktop.png" alt="Screenshots of Search Prodcuts on Desktop and Mobile")


