main.project.project--systemsIntegrations
  +projectHero('Systems Integrations')
  .row--projectContent.projectContent--systemsIntegrations
      p In November of 2019 my team on Wayfair and I paired up with product owners of Wayfarers fulfillment/operations teams in the Bostons on initiative to educate Wayfair Suppliers how well their systems Integrate with ours. Currently this level detail was communication only worked with Category managers and we were tasked to display this a limited amount of Suppliers on the Dashboard and surface this information for the first time online to Suppliers.
      p As the design lead on this project I was tasked for designing the end to end experience for this team while temporarily engaging in project management. This project was engaging, fun and involved team effort.
      img(src="_/img/systems-integrations/systems-integrations-dashboard.jpg" alt="Userflow of the  Tried & True experience")
      img(src="_/img/systems-integrations/systems-integrations-card-states.jpg" alt="Userflow of the  Tried & True experience")
      img(src="_/img/systems-integrations/systems-integrations-flow.jpg" alt="Userflow of the  Tried & True experience")
      img(src="_/img/systems-integrations/systems-integrations-fufillment.jpg" alt=" Experience on the fulfillment page")