main.project.project--triedandtrue
  +projectHero('Tried and True')
  .row--projectContent.projectContent--triedandtrue
    p To keep loyal customers satisfied, e-commerce companies intiate various customers programs and one of them being reviewer programs. In 2017 Wayfair devised a reviewer loyalty program called Tried &amp; True. Tried &amp; True is an invitation only program that invites frequent reviewers on the Wayfair platform to receive free products in exchange for reviews.
    p While failing to succeed two years prior, largely due the exhaustive manual process of the maintain the program. Tried &amp; True was picked up by User Generated Content team in Berlin on July of 2019. This time the aim was automation and the desire to create a better experience.
    p Shipped on November of 2019 Tried &amp; True empowered loyal members of Wayfair to leave reviews to stay into the program. To date the project has a high review rate on free products roughly 77% checked out through the program have received reviews
    img(src="_/img/tried-and-true/mvp-userflow.png" alt="Userflow of the  Tried & True experience")
    img(src="_/img/tried-and-true/wireframes.png" alt="Screenshots of Tried & True on Desktop and Mobile")
    img(src="_/img/tried-and-true/landing.png" alt="Screenshots of Tried & True on Desktop and Mobile")
