section.project.project--miniDeloitte
.wrap
	.row--projectContent.projectContent.projectContent--miniDeloitte
		h1.h1 This is a header
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam animi deserunt, pariatur libero, tenetur deleniti quasi eligendi blanditiis commodi nobis odit ipsam obcaecati, quae vel. Cupiditate, quidem! Cum, quaerat, delectus.
		h2.h2 This is a header
		p.intro  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam animi deserunt, pariatur libero, tenetur deleniti quasi eligendi blanditiis commodi nobis odit ipsam obcaecati, quae vel. Cupiditate, quidem! Cum, quaerat, delectus.
		p  Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Nam animi deserunt, pariatur libero, tenetur deleniti quasi eligendi blanditiis commodi nobis odit ipsam obcaecati, quae vel. Cupiditate, quidem! Cum, quaerat, delectus.
		h3.h3 This is a header
		p  Lorem ipsum dolor sit amet, <em>consectetur adipisicing elit</em>. Nam animi deserunt, pariatur libero, tenetur deleniti quasi eligendi blanditiis commodi nobis odit ipsam obcaecati, quae vel. Cupiditate, quidem! Cum, quaerat, delectus.
		h4.h4 This is a headerx
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam animi deserunt, pariatur libero, tenetur deleniti quasi eligendi blanditiis commodi nobis odit ipsam obcaecati, quae vel. Cupiditate, quidem! Cum, quaerat, delectus.
		ul
			li item 1
			li item 2
			li item 3
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo autem asperiores amet qui dolores quaerat nostrum deleniti id, et doloribus obcaecati illum esse ex accusamus debitis pariatur quidem harum provident!
		blockquote.box.box--reverse Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto distinctio eum minus obcaecati magnam, eos odit! Rem, tempora nobis veniam, voluptatibus corporis nesciunt alias provident dolores non odio odit recusandae.
		figure.figure
			img(src="_/img/mini-deloitte/walking_animations.gif", alt="")
			figcaption TFishing may seem like a relaxing pastime so low-key, in fact, that some find it infernally dull but it's actually the most dangerous occupation in the United States, according to the U.S. Bureau of Labor Statistics. In 2008, the fatal injury rate for fishers and related fishing workers was 128.9 deaths per 100,000. That's much higher than the fatal injury rate for truck drivers, roofers, electrical power-line installers and repairers, and even miners, all of whom had death rates below 35 per 100,000 workers in 2008.
		p Lorem ipsum dolor sit amet, consectetur ad`ipisicing elit. Illo autem asperiores amet qui dolores quaerat nostrum deleniti id, et doloribus obcaecati illum esse ex accusamus debitis pariatur quidem harum provident!
		p.box.box--border Lorem ipsum dolor sit amet, consectetur ad`ipisicing elit. Illo autem asperiores amet qui dolores quaerat nostrum deleniti id, et doloribus obcaecati illum esse ex accusamus debitis pariatur quidem harum provident!