extends partials/header
include mixins/worknav
include mixins/nav
include mixins/project-slate

block html
  html(lang='en-US' class="primary")
block title
   title Garret Goodhue | 404
block styles
  link(rel='stylesheet', href='style.css' async)


block content
  section.404
    .row.row--rowColumn.row--home.row--center
      h1.h1.hero--home__h1 No hue here.
      p Don't worry it's not your fault or even punny. Learn more about <a href="/" class="link--bottomborder">me</a> or check out some of my projects listed below.
  section.projects
    .row.row--rowColumn.row--home.row--center.row--projects.row--projects--header
      h2.h1.h1--projects#projects Projects 
      .headerBorder.headerBorder--projects
    .row.row--projects.row--home
      .projectsSlats.projectsSlats--grid.grid-6-col
        each item, index in data.projects
          if index <= 2
              +projectSlat(item.title, item.path, item.thumbnail, item.excerpt)(class="projectsSlats__div")
      .projectsSlats.projectsSlats--grid.grid-6-col
        each item, index in data.projects
          if index > 2 && index <= 5
              +projectSlat(item.title, item.path, item.thumbnail, item.excerpt)(class="projectsSlats__div")