extends partials/header

block title
   title Garret Goodhue | Product Designer
block styles
  link(rel='stylesheet', href='../public/style.css?__inline=true' async)

block content
  // include navigation
  .wrap
    .row.row--content.group
      main(id="intro-js" class="main grid group" data-language="eng")
        include partials/intro-eng