header.mainHeader
	nav(class="header__nav")
		ul.listReset
			li
				button(class="buttonReset button__nav link link--bottomBorder" data-language="deu" id="js-translate") DEU
			li
				button(class="buttonReset button__nav link link--bottomBorder hide" data-langauge="deu" ) Wie war mein Deutsch? Können Sie bitte mich korrigieren?
			//- li
			//- 	button(class="buttonReset button__nav  link link--bottomBorder active" data-language="eng" id="js-eng") ENG
			//- li 
			//- 	button(class="buttonReset button__nav link link--bottomBorder" data-language="deu" id="js-deu") DEU