extends partials/header
include mixins/worknav
include mixins/nav
include mixins/pagination
include mixins/project-hero

block title
   title Garret Goodhue | Projects - Mini Deloitte
block styles
  link(rel='stylesheet', href='style.css' async)
block scripts
  script(src='/_/js/scripts.js' async)

block content
  +nav("Mini-Deloitte")
  include partials/private/mini-deloitte-content
  +pagination("Mini-Deloitte")
  include partials/footer
  +worknav("/mini-deloitte.html")