include mixins/worknav
include mixins/nav
include mixins/pagination
include mixins/project-hero
extends partials/header

block title
   title Garret Goodhue | Projects - Deloitte Cycling
block styles
  link(rel='stylesheet', href='style.css' async)
block scripts
  script(src='/_/js/scripts.js' async)

block content
  +nav("Deloitte Cycling")
  include partials/private/cycling-content
  +pagination("Deloitte Cycling")
  include partials/footer
  +worknav("/cycling.html")