include mixins/worknav
include mixins/nav
include mixins/pagination
include mixins/project-hero
extends partials/header

block title
   title Garret Goodhue | Projects - Product Watchlist
block styles
  link(rel='stylesheet', href='style.css' async)
block scripts
  script(src='/_/js/scripts.js' async)

block content
  +nav("")
  include partials/private/product-watchlist-content
  //- +pagination("Product Watchlist")
  include partials/footer
  +worknav("/product-watchlist.html")