extends partials/header
include mixins/nav
include mixins/worknav
include mixins/project-slate
include mixins/project

block title
   title Garret Goodhue | Private projects 
block styles
  link(rel='stylesheet', href='style.css' async)
block scripts
  //- script(src='/_/js/https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' async)
  script(src='/_/js/scripts.js' async)

block content
  //- +nav("/");  
  include partials/private/index
  include partials/footer 