extends partials/header
include mixins/worknav
include mixins/nav
include mixins/pagination
include mixins/project-hero

block title
   title Garret Goodhue | projects - Deloitte Talent Platform
block styles
  link(rel='stylesheet', href='style.css' async)
block scripts
  script(src='/_/js/scripts.js' async)

block content
  +nav()
  include partials/private/dtp-content
  //- +pagination("Deloitte Talent Platform")
  include partials/footer
  +worknav("/delotte-talent-platform.html")