include mixins/worknav
include mixins/nav
include mixins/pagination
include mixins/project-hero
extends partials/header

block title
   title Garret Goodhue | Projects - Milk Producers Online
block styles
  link(rel='stylesheet', href='style.css' async)
block scripts
  script(src='/_/js/scripts.js' async)

block content
  +nav("")
  include partials/private/mpol-content
  +pagination("Milk Producers Online")
  include partials/footer
  +worknav("/mpol.html")
