extends partials/header
include mixins/worknav
include mixins/nav
include mixins/pagination
include mixins/project-hero

block title
   title Garret Goodhue | Projects - Family Hub
block styles
  link(rel='stylesheet', href='style.css' async)
block scripts
  script(src='/_/js/scripts.js' async)

block content
  +nav()
  include partials/private/family-hub-content
  +pagination("Family Hub")
  include partials/footer
  +worknav("/family-hub.html")
