mixin nav(active)
	header.mainHeader
		nav(class="header__nav")
			ul
				li(class="logo")
					a(href="/" class="link--bottomBorder link--bottomBorder__nav") Garret Goodhue
				each item in data.projects
					li
						if item.title == "Huemor Me"
							button(class="button__nav button__nav--hueMore link--bottomBorder link--bottomBorder__nav" id="js-switchColors") Huemor Me
						else if item.path == active && item.title != "Work"
							a(href=item.path, class="active link--bottomBorderlink--bottomBorder__nav"  rel="prefetch")=item.title
						else if item.title == "Projects"
							button(class="buttonReset button__nav link--bottomBorder link--bottomBorder__nav" id="js-menu") Projects
						else 
							a(href=item.path, class="link--bottomBorder link--bottomBorder__nav" rel="prefetch")=item.title
					