mixin pagination(active)
	.wrapProjects.wrap--pagination
		.pagination
			-var activeIndex = helpers.getAuthor(active, data.projects)
			if activeIndex >= data.projects.length - 1 
				-var nextIndex = 0;
			else 
				-var nextIndex = activeIndex + 1;
			if activeIndex == 0 
				-var prevIndex = data.projects.length - 1;
			else 
				-var prevIndex = activeIndex - 1;

			a(href=data.projects[prevIndex].path class="pagination__prev pagination__a link--bottomBorder")
				span.chevron.chevron--left
				= data.projects[prevIndex].title
			a(href=data.projects[nextIndex].path class="pagination__next pagination__a link--bottomBorder")= data.projects[nextIndex].title 
				span.chevron.chevron--right