mixin project()
	each item in data.projects
		li.projectsSlats__li
			a(href=item.path class="projectsSlats__a")
				figure.figureReset.figure__projectsSlats
					img(src=item.thumbnail class="projectsSlats__img")
					figcaption.overlay.overlay__projectsSlats
						span.projectsSlats__span
							p.h4.h4--projectSlat=item.title
							p.projectExcerpt=item.excerpt
