mixin projectHero(title)
	each item, index in data.projects
		if item.title == title
			header(class="row row--columnWrap row--center row--projectBanner row--projectBanner--#{item.class}")
				h1.h2.projectTitle=item.title
				span.roles Role: #{item.roles}
				.headerBorder.headerBorder--projectDetail