mixin projectSlat(name, url, thumbnail, excerpt)
		div(class=attributes.class)
			a(href=url class="projectsSlats__a")
				figure.reset.reset--figure.figure__projectsSlats.scrollReveal
					img(src=thumbnail class="projectsSlats__img")
					figcaption.overlay.overlay__projectsSlats
						span.projectsSlats__span
							p.h4.h4--projectSlat= name
							p.projectExcerpt= excerpt
