mixin worknav(active)
	.overlay.overlay--overlayMenu#js-overlay
		//- button.overlay__close#js-close Close
		nav
			ul.projectList.projectList--overlayMenu
				each item in data.projects
					li
						if item.path == active
							a(href=item.path, class="active h3 h3__overlayMenu overlayMenu__a"  rel="prefetch")= item.title
						else 
							a(href=item.path, class="  h3 h3__overlayMenu overlayMenu__a"  rel="prefetch")= item.title