// /-Breakpoint Extra Small
@media (max-width: $breakpoint-medium) {
  .row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .main {
    order: 2;
    margin-right: 0;
    max-width: auto;

  }
}

@media (max-width: $breakpoint-extra-small) {
  .link--bottomBorder--hue {
    cursor: pointer;
    transition: color 0.5s ease-in;
    &:after{
      height: 4px;
    }
  }
  body {
    @include font-size(18px);
  }
  .h1 {
    @include font-size(48px);
    line-height: 1.2em;
    margin-bottom: 32px;
  }
  .h2 {
    @include font-size(30px);
  }
  .h3 {
    @include font-size(26px);
  }
  .h4 {
    @include font-size(20px);
  }
  .hue

  .no-flexbox{
    // @include font-size(24px);
  }

  .grid {
    width: auto;
    float: none;
  }
}