/**
*
* Helpers.scss
*
**/


/*==========  Placeholders  ==========*/

%font-primary--300 {
  font: normal normal 300 $font-primary;
}
%font-primary--300italic {
  font: italic normal 300 $font-primary;
}
%font-primary--700 {
  font: normal normal 700 $font-primary;
}
%font-primary--700italic {
  font: italic normal 700 $font-primary;
}
%fadeIn {
    animation: fadeIn $animation-duration + 0.5s ease-in;
}
%margin-bottom {
  margin: 0 0 1.5em 0;
}
%flex {
  display: flex;
}
%flexflow-rowWrap {
  flex-flow: row wrap;
}
%flexflow-columnWrap {
  flex-flow: column wrap;
}

%group {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/*==========  Mixins  ==========*/

// To call the media queries inline, use the following syntax:
// @include breakpoint(breakpoint-large) {selector: value;}

@mixin breakpoint($point) {
  @if $point == $breakpoint-large {
    @media (max-width: $breakpoint-large) { @content; }
  }
  @else if $point == $breakpoint-medium {
    @media (max-width: $breakpoint-medium) { @content; }
  }
  @else if $point == $breakpoint-small {
    @media (max-width: $breakpoint-small)  { @content; }
  }
  @else if $point == $breakpoint-extra-small {
    @media (max-width: $breakpoint-extra-small)  { @content; }
  }
}

@mixin font-size($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}


@function parseInt($n) { /* 2 */
  @return $n / ($n * 0 + 1);
}

// To call the animation frame, use the following syntax:
// @include keyframes(pulse) {selector: value;}

@mixin keyframes( $animation-name ) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }
    @keyframes #{$animation-name} {
      @content;
    }
}
@mixin rem($property, $values) {
  $px : (); /* 3 */
  $rem: (); /* 3 */

  @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto { /* 5 */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);    /* 6 */
      $val: parseInt($value); /* 6 */

      @if $unit == "px" {  /* 7 */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
  } @else {
    #{$property}: $px;  /* 9 */
    #{$property}: $rem; /* 9 */
  }
}

/*==========  Functions  ==========*/


@function calculateRem($size) {
  $remSize: $size / 10px;
  @return #{$remSize}rem;
}

@function parseInt($n) { /* 2 */
  @return $n / ($n * 0 + 1);
}



@function palette($palette, $shade: 'base') {
 @return map-get(map-get($palettes, $palette), $shade);
}
@function columnCalc($numColumns) {
  @return ( percentage( ((($numColumns - 1) * $grid-gutter)  + ($numColumns *  $grid-column-width)) / $grid-max-width));
}

@function toREM () {
  @return $pxWidth / $em-base * 1rem;
}
@function pem($px-value, $base: $font-size-base) {
  @if (unitless($px-value)) {
    $px-value: $px-value * 1px;
  }
  @if (unitless($base)) {
    $base: $base * 1px;
  }
  @return $px-value / $base * 1em;
}

@function MBCalc($font-size, $text-baseline: $line-height) {
  @return $text-baseline / $font-size * 1em;
}
