@include keyframes(growBorderWidth) {
  0%{
    width: 0;
  }
  100%{
    width: $bottomBorderWidth;
  }
}
@include keyframes(growBorderWidthMobile) {
  0%{
    width: 0;
  }
  100%{
    width: 25%;
  }
}


@include keyframes(intialAnimation) {
    0% {
        top: -40px;
    }
    100% {
        top: 5%;
    }
}
@include keyframes(rotate45) {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
}
@include keyframes(rotate-45) {
    0% {
      transform: rotate(0);
    }
     50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-45deg);
    }
}
// List reset
.reset {
  padding: 0;

}
.reset--list {
  list-style:none;
  margin-bottom: 0;
}
// .listReset {
//   padding: 0;
// }
.reset--figure {
  position: relative;
  margin: 0;  
}
.row--projectsColumn {
  @extend %flex; 
  @extend %flexflow-rowWrap;
  justify-content: flex-start;
  align-items: flex-start;
  @include rem(padding, 0 $baseline);
}
.row--projectDetail{
  @extend %flex;
  flex-flow: column wrap;
}
.row--fullWidth {
  @extend %flex;
  flex-flow: column wrap;
}
.columnSlats {
  @extend %flex;
  flex-flow: column nowrap;
  @include rem(margin-right, 20px);
  div {
    @extend %flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.about {
  @extend %flex;
  justify-content: center;
 }

.hero--home__h1 {
  @include rem(padding-top, 4rem);
  transition: color $animation-duration ease-in;
}

.container {
  background-color: #ececef;
  @include rem(padding, 4rem 0);
  // display: block;
  // width: 100%;
  display: flex;
  @extend %margin-bottom;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}
.video {
  margin: 0 auto;
  flex-basis: 50%;
  display: flex;
  width: 50%;
  box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.2);
}

// .circleMask__bg {
//   background: url( $relative-path + "garret-goodhue.jpg") no-repeat 50% 50%; 
//   background-size: cover;
// }
// .circleMask {
//   border-radius: 50%;
//   width: 100px;
//   height: 100px;
//   overflow: hidden; 
//   position: relative;
//   // border: 10px solid blue;
//   @include rem(margin-bottom, 20px);
// }
// .circleMask__img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
// }


.link--bottomBorder--hue {
  cursor: pointer;
  transition: color 0.5s ease-in;
  &:after{
    width: 100%;
    height: 8px;
  }
  &:hover {
    //  animation: pulse 5s ease-out infinite;
    &:after {
      animation: backgroundPulse 5s ease-out infinite;
    }
  }
}

.logo {
  font-weight: 700;
  a {
    transition: color 1s ease-out;
    // padding-right:0;
    line-height: 1.25em;
  }
} 


.chevron::before {
  border-style: solid;
  border-width: 0.19em 0.19em 0 0;
  content: '';
  display: inline-block;
  height: 1rem;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1rem;
}
.chevron {
  display: inline-block;
}
.scrollArrow {
  display: block;
  width: 100%;
  .chevron {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    @include rem(font-size, $font-size-h3);
    &:before {
      border-width: 0.12em 0.12em 0 0;
      width: 1.5rem;
      height: 1.5rem;
      left: 0;
      position: relative;
      top: 25%;
    }
  }
}

.chevron--right:before {
  left: 0;
  transform: rotate(45deg);
}
.chevron--left {
  @include rem(margin-right, 10px);
  line-height: 0.75em;
}
.chevron--right {
   @include rem(margin-left, 10px);
   line-height: 0.75em;
}
.chevron--bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron--left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}
.link--bottomBorder__nav {
margin-bottom: 3px;
   &:after {
    bottom: -4px;
    width: 0;
    height: 3px;
  }
}

// .siteFooter, .header__nav ul, .pagination {
//     @include rem(padding, 1.5rem 4rem);
// }


// .header__nav{
//   @include rem(margin, 0 0 1rem 0);
//   width: 100%;
//   line-height: 1.25em;
//   // background-color: rgba(#fff, 0.85);
//   ul {
//     margin: 0;
//     // padding: 0.5rem 2%;
//     @include rem(padding, 2rem 3rem);
//     list-style: none;
//     button, a {
//       @include font-size($font-size-small);
//       font-weight: 700;
//       transition: background-color $animation-duration ease-in, color $animation-duration ease-in;
//       line-height: 1em;
//     }
//     li{
//       button {
//         &:last-child {
//           padding-right: 0;
//         }
//       }
//       &:last-child {
//         margin-right: 0;

//       }
//     }
//   }
// }




// .columnSlats {
//   .projectsSlats__div{
//     align-items: stretch;
//     align-content: stretch;
//   }
//   .projectsSlats__a {
//     color: #fff;
//   }
//   .projectsSlats__img {
//     width: 100%;
//   }
// }

.projectsSlats{
  @extend %flex;
  // @extend %margin-bottom;
  @extend %flexflow-rowWrap;
  li {
    p:last-child {
      margin-bottom: 0;
    }
    a.projectsSlats__a {
      color: #fff;
      height: 100%;
      align-self: center;
    }
  }
}


.link--bottomBorder__footer {
  display: inline-block;
  &:after {
    bottom: -2px;
    width: 0;
    height: 2px;
  }
}

li.first {
  flex: 1;
  > div {
    width: 100%;
    display: inline-block;
  }
}
.footer__button {
  padding:0;
}

.siteFooter__nav{
  width: 100%;
  @include rem(padding-bottom, 10px);
 
  li{
    @include rem(padding-right, 20px);
    &:after {
      content: "/";
      margin-left: 20px;
    }
    &:first-child {
      a.link--bottomBorder__footer {
        padding-right:0;
      }
      // @include rem(padding-right, 400px);
      &:after {
        content: "";
      }
    }
    &:last-child{
      padding-right: 0;
      &:after {
       content: ""; 
       margin-left: 0;
      }
    }
  }
}
.pagination {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-content: space-between;
  // @include rem(margin-top, 20px);
  font-size: $font-size-small;
  align-self: center;
  line-height: 1em;
  font-weight: 700;
  justify-content: space-between;
}
.list--404 {
  li {
   @include rem(padding-bottom, 24px);
  }
}

// .pagination__prev {
//   @include rem(margin-right, 20px);
// }
// .pagination__prev,.pagination__next {
//   position:fixed;
//   top:50%;
// }
// .pagination__prev {
//   transform: rotate(-90deg);
//   left: 2px;
// }
// .pagination__next {
//   transform: rotate(90deg);
//   right: 2px;
// }
.pagination__a {
  span {
    transition: all 0.2s ease-in;
  }
  .cheveron {
    padding-left: 1px;
  }
}
.projectsSlats__img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  height: auto;
  position: relative;
  transition: transform 0.4s ease;
}
.row--projects--header {
  @extend %flexflow-columnWrap;
}

.projectsSlats--grid {
 @include rem(margin-right, 20px);

  &:last-child {
    margin-right: 0;
  }
}
.button__nav {
  // display: inline-block;
  margin: 0;
  padding: 0;
}

.projectsSlats__div {
    list-style: none;
    position: relative;
    overflow: hidden;
    @include rem(margin-bottom, 20px); 
    .overlay {
      opacity: 0;
    }
    &:hover .overlay, &.touch .overlay {
      opacity: 1;
      visibility: visible;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-out;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
}


.projectsSlats__li {
    // flex: 1;
    color: #fff;
    list-style: none;
    position: relative;
    overflow: hidden; 
    // @include rem(margin, 0 20px 20px 0);
    @extend %flexflow-rowWrap;
    .overlay {
      opacity: 0;
    }

    &:hover .overlay, &.touch .overlay {
      opacity: 1;
      visibility: visible;
      // transform: translateY(0%);
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
}
 
.projectsSlats__span {
  padding: 0 2rem;
}
.h4--projectSlat {
  margin-bottom: 5px;
  font-family: $font-secondary;
  text-transform: none;
  // @include rem`(margin-bottom, 15px);
  // padding-bottom: ;
  line-height: 1em;
}
.projectExcerpt {
  line-height: 1.25em;
  opacity: 0.8;
  font-size: 0.75em;
  margin-bottom: 0;
}

.siteFooter{
 @include rem(margin-top, 60px 0);
 @include font-size($font-size-xSmall);
 line-height: 1.5em;
}
.indent {
  line-height: 0;
  padding-bottom: 0 10px;
}
.menu-icon {
  display:block;
  width:18px;
  transform: translate3d(0,0,0);
  .menu-icon__text{
    text-indent: -9999px;
  }
  &:before,
  &:after,
  .menu-icon__text {
    content:'';
    display:block;
    height:3px;
    margin:3px 0;
    transition: background $animation-duration ease-in, transform $animation-duration ease-in, opacity $animation-duration ease-in;
    width:100%;
  }
}
.me { 
  position: relative;
  opacity: 0.7;
}
.overlay--img {
  opacity: 0.4;
  content: ".";
  // transform: translateY(0%);
  z-index: 2;
  position: absolute;
  background-blend-mode: multiply;
}

.hero--col {
  @extend %flex;
  @extend %flexflow-columnWrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  &:first-child {
    padding-right: 40px;
  }
  &:p {
    padding-right: 100px;
  }
}

.grid-col--hero {
  text-align: center;
  @include rem(padding-right, 200px);
}
.about {
  // @include rem(margin, 20rem 0);
  height: 100vh;
}
.row {
  @extend %flex;
}
.row--rowWrap{
  @extend %flexflow-rowWrap;
}
.row--rowColumn{
  @extend %flexflow-columnWrap;
}
.about__p {
  @include rem(max-width, 820px);
}
.row--center {
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row--projectBanner {
  // paprojectBdding: 5em 0 3em 0;
  @include rem(padding, 20rem 0 5rem 0);
  @include rem(margin-bottom, 1rem);
  // height: 100%;
  // height: 100vh;
}

.headerBorder {
  height: 10px;
  width: $bottomBorderWidth;
}
.header--projectDetail {
  @include rem(margin-bottom, 120px);
}
.headerBorder--projects {
  @include rem(margin-bottom, 80px);
}

.button__hueMore{
  // animation: pulse 3s ease-in-out;
  color: #fff;
}

// Overlay 
// .overlay__close {
//   width: 40px;
//   height: 40px;
//   position: absolute;
//   top: -40px;
//   right: 50px;
//   color: transparent;
//   outline: none;
//   border: none;
//   padding: 0;
//   background-color: transparent;
//   content: " ";
//   text-indent: 400%;
//   transition: top 0.5s ease-in;
//   &:before, &:after {
//     position: absolute;
//     content: " ";
//     height: 40px;
//     top: 0;
//     left: 23px;
//     width: 4px;
//     transition: transform 0.5s ease-in;
//     border-radius: 2px;
//     background-color: #fff;
//   }
//   &:before {
//     transform: rotate(0deg);
//   }
//   &:after {
//     transform: rotate(0deg);
//   }
// }

.hero--projects {
  margin: 0 auto 4rem auto;
}
.overlay__projectsSlats{
  position: absolute;
  z-index: 3;
  overflow: hidden;
  transition: background-color 0.4s ease-out,border 0.4s ease;
  @include rem(padding, 0 20px);
}
.overlay--overlayMenu {
  position: fixed;
  z-index: 10;
  transform: translateY(-100%);
  overflow-y: scroll;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s ease;
}

a.overlayMenu__a {
  &:after {
    background: #fff;
  }
}
.open {
  visibility: visible;
  transform: translateY(0%);
  transition: transform 0.4s ease-in-out;
}
// .transitionEnd {
//   .overlay__close {
//     animation: intialAnimation 0.1s ease-out;  
//     top: 5%;
//     &:before {
//       animation: rotate45 0.2s ease-out;
//       transform: rotate(45deg);
//     }
//     &:after {
//       animation: rotate-45 0.2s ease-out;
//       transform: rotate(-45deg);
//     }
//   }
// }
.h1--projects {
  text-align: center;
  @include rem(margin-bottom, 24px);
}

.row--projects--header {
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}


.h3__projectList {
  margin-bottom: 0;
}
// .circle {
//     // background-color: palette(gray);
//     width: 50%;
//     height: 0;
//     padding-bottom: 50%;
//     border-radius: 50%;
//     &:after {
//      content: "";
//      display: block;
//      width: 100%;
//      height: 0;
//      padding-bottom: 100%;
//   }   
// }

.roles {
  display: block;
  @include rem(margin-bottom, $baseline);
}
.sr .projectsSlats__div { visibility: hidden; }

.projectList {
  list-style: none;
  // padding: 0 2rem; 
  // padding: 0 20vw; 
  p {
    margin-bottom: 0;
  }

  span {
    display: block;
  }
  li {
    @include rem(padding-bottom, $baseline);
    &:first-child{
     // @include rem(margin-bottom, $baseline / 2);
    }
  }
}
.projectList--overlayMenu{
  @include rem(padding, 8rem 2rem 4rem 2rem);
  // padding: 4rem 10% 0 10%;
  text-align: center;
  li {
    width: 100%;
    box-sizing: border-box;
    @include rem(padding-bottom, 40px);
  }
}



@each $color in $colorSchemes {
  html.#{$color} {
    .projectList {
      li {
        &:last-child{
          border-bottom: 0;
        }
        a:hover {
          // color: darken(palette(#{$color}), 20%);
        }
        a.overlayMenu__a {
          color: #fff;
          &:hover {
            color: darken(palette(#{$color}), 20%);
          }
        }
        a.active {
          color: darken(palette(#{$color}), 20%);
        }
      }

    }
    .chevron{
      // border: 4px solid palette(#{$color});
      color: palette(#{$color});
    }
    .scrollArrow {
      display: block;
      width: 100%;
      .chevron {
        border: 4px solid palette(#{$color}); 
        &:before {
        }
      }
    }
    .projectsSlats__a {
      color: palette(#{$color}); 
    }
    .stats {
      list-style: none;
      border-bottom: 4px solid palette(#{$color});
      li {
        border-right: 4px solid palette(#{$color});
        &:last-child {
          border-right: none;
        }
      }
    }
    .pagination {
      // border: 3px solid palette(#{$color});
    }
    // .link--bottomBorder--hue{
    //   color: #fff;
    //   &:after {
    //     background-color: #FFF;
    //   }
    // }

    .menu-icon{
      &:before,
      &:after,
      .menu-icon__text {
        background: palette(#{$color});
      }

      &:hover,&:focus {
        &:before, &:after, .menu-icon__text {
          background: darken(palette(#{$color}), 20%);
        }
        &:before {
          // background-color: gray;
        }
        &:after {
          // width: 80%;
          // background-color: gray;
          // transition-delay: 0.5s; 
        }
        .menu-icon__text {
          // transition-delay: 0.25s;
        }
      }
    }
    .pagination__a {
      // border: 3px solid palette(#{$color});
      @include rem(padding, 10px 10px 10px 0px);
      color: palette(#{$color});
      transition: background 0.2s ease-in, color 0.2 ease-in;
      // font-weight: bold;
      &:hover {
        // background: palette(#{$color});
        // color: #fff;
      }
    }

    // background-color: rgba(inherit,inherit,inherit,1);
    .headerBorder, .overlay--overlayMenu, .overlay--img {
      background-color: palette(#{$color});
    }
    .overlay__projectsSlats{
      border: 10px solid rgba(palette(#{$color}), 0.8);
      background: #fff;
      // color: #fff;
      &:hover {
      // border: 8px solid rgba(palette(#{$color}), 0.8);
      }
    }
    .link--bottomBorder__nav {
      border-bottom: none;
      &:after {
        width: 0;
      }
    }
    
    nav {
      li {
          a,button {
          color: palette(#{$color});
        }
      }
    }
    .open {
      nav{
        li {
          a,button {
           color: #fff;
          }
          .menu-icon{
            &:before,
            &:after,
            .menu-icon__text {
              background: #fff;
              transition: background $animation-duration ease-in, transform $animation-duration ease-in;
            }
            &:before {
              transform: rotate(45deg) translate3d(0px, 9px, 0);
            }
            &:after {
              transform: rotate(-45deg) translate3d(0px, -9px, 0);
            }
            .menu-icon__text {
              opacity: 0;
            }
          }
        }
      }
    }
  } 
}


.overlayMenu__a {
   &:after {
    background-color: #fff;
  }
}

pre {
  @include rem(padding, $font-size-base);
  code {
    @include font-size($font-size-small);
    line-height: 0.5em;
  }
}

.overlay__projectsSlats{
  z-index: 3;
}
.mainHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}


  .header__nav {
    ul {
      @extend %flex;
      flex-wrap: wrap;
      justify-content: space-between;
      button, a{
        @extend %flex;
        align-items: flex-start;
      }
    }
  }


  .stats {
    // @include rem(padding, 40px);
    @extend %flex;
    text-align: center;
    @extend %margin-bottom;
    li {
      flex-basis: 33%;
      @include rem(padding, 30px 20px 40px 20px);
      font-weight: 700;
      &:first-child {
        padding-left: 0;
      }

    }
    .h2 {
      margin-bottom: 0;
      line-height: 1em;
    }
    .statDescription {
      font-size: $font-size-small;
      // text-transform: uppercase;
    }
  }
  .stat {
    margin-bottom: 6px;
  }
  .pagination {
    @extend %flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-self: center;
    justify-content: space-between;
  }
  .overlay__projectsSlats{
    @extend %flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .projectsSlats__div {
    align-self: flex-start;
    @extend %flexflow-columnWrap;
    align-content: flex-start;
    justify-content: flex-start;
  }
  .row--projects {
  }
  .projectsSlats{
    align-self: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    @extend %flex;
    @extend %flexflow-rowWrap;
    li {
      a.projectsSlats__a {
        align-self: center;
      }
    }
  }

  // .projectsSlats_span {
  //  align-self: center;
  // }
  .projectsSlats--grid {
   justify-content: flex-start;
   align-items: flex-start;
   align-content: flex-start;
  }

  .row--projectsColumn {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .figure__projectsSlats {
    @extend %flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  .projectList--overlayMenu {
    align-self: center;
  }

  .row--projectBanner  {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  .row--projectContent{
    align-self: center;
  }

  .projectList--overlayMenu{
    @extend %flex;
    @extend %flexflow-rowWrap;
    li {
      flex-shrink: none;
      flex: auto;
      box-sizing: border-box;
      align-self: baseline;
    }
  }
  .overlay__projectsSlats{
    @extend %flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .projectTitle {
    text-align: center;
    align-self: center;
    margin-bottom: 10px;
    // flex-grow: 1;flex-grow value : 100%
  }
  .row--projects {
    // display: flex;
    // flex-direction: row;
  }
  .siteFooter {
  @extend %flex;
    // justify-content: space-around;
    align-items: baseline;
  }
  .siteFooter__nav{
    @extend %flex;
    // align-self: flex-end;
    box-sizing: border-box;
    flex-flow: row wrap;
    // justify-content: space-between;
    // justify-content: flex-end;
    align-items: baseline;
    // align-items: center;
    @include rem(padding-bottom, 10px);
    width: 100%;
    li{
      @extend %flex;
      flex-flow: row wrap;
      // justify-content: space-between;
      }
    }
html, body {
  min-height: 100%;
}
// No flexbox 
.no-flexbox {
  body {
    position: relative;
  }
  .project {
    @extend %group;
  }
  .row--home{
    @extend %group;
  }
  .projectsSlats--grid {
    float: left;
    display: block;
  }
  nav {
    ul {
      @extend %group;
    }
    .link--bottomBorder__nav{

    }
    .logo {
      width: columnCalc(4);
      @extend %group;
    }
    li {
      float: left;
      width: columnCalc(2);
      a {
        display: block;
        float: right;
        width: 100%;
      }
    }
  }
  .siteFooter__nav{
    width: 100%; 
  }

  .projectTitle {
    // padding: 0 20%;
    text-align: center;
  }
}
// End no flexbox

.img--figcaption {
  margin-bottom: 0.5em;
}

.figcaption {
  line-height: 1.5em;
  font-size: $font-size-small;
}
.wrap--pagination {
  // @include rem(padding, 0 4rem);
  // @include rem(max-width, 960px);
  margin: 0 auto;
  padding-top: 0;
}
.row__projectDetail {

}

// .row--large {
//   @include rem(padding, 0 4rem);
//   @include rem(max-width, 1200px);
//   margin: 0 auto;
//   padding-bottom: 1.5em;
// }
// .row--xLarge {
//   @include rem(padding, 0 4rem);
//   @include rem(max-width, 1600px);
//   margin: 0 auto;
//   padding-bottom: 1.5em;
// }
.row--full {

}
.row--medium {

}
.row--projectContent{
  @include rem(padding, 0 4rem);
  @include rem(max-width, 960px);
  margin: 0 auto;
  // padding-bottom: 1.5em;
}
// .wrap--projects--large{

// }
// .wrap--projects--medium{

// }
.wrapProjects--2 {
    @include rem(max-width, 1200px);
    @include rem(padding, 0 4rem);
}
.row--home {
  @include rem(padding, 0 4rem);
  @include rem(max-width, 1800px);
  margin: 0 auto;
}



.row--projectSlats {
  @include rem(margin, $baseline 0);
}
.projectName{
  font-weight: 700;
}
// .figureReset {
//   position: relative;
//   margin: 0;  
//   padding: 0;
// }
figcaption {
  margin-bottom: 0;
}

img {
  @extend %margin-bottom;
  &:last-child{
    margin-bottom: 0;
  }
}
.img--full {
  width: 100%;
}
// .scale-with-grid {
//   width: 100%;
//   height: auto;
// }
figure img,
embed, img,
object,
video {
  max-width: 100%;
  height: auto;
}