// /-Breakpoint Extra Small
@media (min-width: 1200px) {
    body {
      // @include rem(font-size, 42px);
    }
    .projectWrap {
      width: 50%;
    }
}


@media (max-width: 1000px) {
    .row--projects-slats{
      flex-flow: row wrap;
       align-items: stretch;
       justify-content: baseline;
       align-content: stretch;

      .grid-4-col, .grid-6-col, .grid-8-col {
        flex:1 1 auto;
        min-width: 0;
        box-sizing: border-box;
        margin-right: 0;
      }
      .projectsSlats__div {
        flex-direction: column;
        flex: 1 1 auto;
      }

    }
  .no-flexbox{
    .grid-4-col{
      width: 50%;
    }
  }
}



@media (max-width: $breakpoint-medium ) {
   .project {
    @include rem(margin-top, $baseline * 2);
    @include rem(padding, 2rem 1rem 0 1rem);
  }
    .row--projects {
      flex-flow: column wrap;
    }
    .grid-4-col, .grid-6-col {
      width: 100%;
    }
    .projectsSlats--grid{
     flex:1 0 auto;
    }
    .projectsSlats__div {
      flex-direction: column;
      flex: 1 1 auto;
    }
    .row--projects {
      .bottomBorder {
        @include rem(margin-bottom, 40px);
      }
    }
    .h1 {
      @include font-size(48px);
      line-height: 1.2em;
      margin-bottom: 32px;
    }
 

  .stats {
      flex-flow: column wrap;
      border: 0; 
      li {
        flex-basis: 100%;
        width: 100%;  
        flex: 1 1 auto;
        @include rem(padding, 20px 0);
    }
  }
  .siteFooter, .header__nav ul, .pagination,  {
    @include rem(padding, 2rem 1.4rem);
  }
  .row--projects, .hero--home {
    @include rem(padding, 0rem 1.4rem);
  }


  @each $color in $colorSchemes {
  html.#{$color} {
    .stats {
      border-bottom: 0 solid palette(#{$color});
      border-right: 0;
      li {
        border-right: 0;
        border-bottom: 4px solid palette(#{$color});
        &:last-child {
          border-right: none;
          }
        }
      }
    }
  }

  .projectsSlats--grid {
      margin-right: 0;
  }
  .projectsSlats__div {
    width: 100%;
  }
  .projectList {
    li {
      padding-right: 0;
      margin-right: 0;
    }
    .overlay__close {
      width: 30px;
      height: 30px;
      right: 20px;
      top: 20px;
    }
  }
  .no-flexbox{
    nav { 
      ul {
        text-align: center;
        li {
          float: none;
          display: inline;
          width: auto;
          &.logo {
            display: block;
            width: auto;
            margin: 0 auto; 
            a{
              margin-right: 0;
              padding-right:0;
              display: block;
            }
          }
        a,button {
          float: none;
          display: inline;
          width: auto;
          }
        }
      }
    }
  }
  .row--projectContent {
    @include rem(padding, 10px);
  }
  .projectList--overlayMenu {
    @include rem(padding-top, $baseline * 2);
  }
  .row {
    padding: 0;
    @include rem(padding, 0 40px);
  }

}

@media (max-width: 630px) {
  .siteFooter__nav{
    justify-content: flex-start;
    align-content: flex-start;
    li{
      padding: 0 0 1rem 0;
      &.first {
        flex-basis: 100%;
        // width: 100%;
      }
      &:after {
        content: "";
      }
    }
  }
  .pagination {
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    align-content:center;
    flex: auto;
    width: 100%;
    flex:auto;   
  }
  .pagination__a {
    flex: auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .pagination__prev {
    margin-right: 0;
  }
  .siteFooter, .header__nav ul, .pagination,  {
    @include rem(padding, 2rem 1.4rem);
  }
  .row--projects, .hero--home {
    @include rem(padding, 0rem 1.4rem);

  }
}


@media (max-width: $breakpoint-extra-small) {
  .video {
    // width: 75%;
    flex-basis: auto;
    padding: 0;
  }
  .container {
    @include rem(padding, 2rem);
    align-items: center;
  }
  .row--projects .bottomBorder {
      height: 8px;
  }
  .projectList--overlayMenu {
    @include rem(margin-top, 120px);
    @include rem(padding, 0 14px);
  }
  .roles {
    @include rem(margin-bottom, $baseline/2);
  }
  .projectTitle {
    @include rem(margin-bottom, 20px);
  }
  .h2 {
    @include font-size(42px);
    line-height: 1.2em;
  } 
  .h3__overlayMenu{
    @include rem(font-size, $font-size-h3);
    line-height: $font-size-h3;
  }
 
  .row--projectContent {
    @include rem(padding, 0 14px);
    @include rem(margin-top, $baseline/2);
  }
 

  nav[role="navigation"] {
    align-items: center;
    justify-content: center;
  }
  .projectsSlats {
  }
  .projectsSlats__li, .projectsSlats__div {
    margin-right: 0;
  }
  .main {
    padding: 0;
  }
  .overlay__projectsSlats {
   @include rem(padding, 0 0.5rem);
  }

  nav {
    li {
      align-items: baseline;
    }
    .logo {
      // text-align: center;
      margin-top: 0;
      a {
        // @include rem(padding, 0 0 20px 0);
        // @include rem(margin, 0 0 2px 0);
      }
    }
  }
}