/**
*
* Settings.scss
*
**/

// COLORS
$colorSchemes: "primary", "secondary", "tertiary", "quaternary", "quinary";
$color-primary: #2d2d2f;
// $color-primary: #fd705c;
$color-secondary: #1F15FF;
$color-tertiary: #f91183;
$color-quaternary: #f60628; //f91183
$color-quinary: #527AFA;
$color-neutral: #527AFA;

// to add pallettes according to project
$palettes: (
  primary: (
    base: $color-primary,
    light: lighten($color-primary, 12%),
    dark: darken($color-primary, 10%),
  ),
  secondary: (
    base: $color-secondary,
    light: lighten($color-secondary, 12%),
    dark: darken($color-secondary, 10%)
  ),
  tertiary: (
    base:  $color-tertiary,
    light: lighten($color-tertiary, 12%),
    dark: lighten($color-tertiary, 10%)
  ),  
  quaternary: (
    base:  $color-quaternary,
    light: lighten($color-quaternary, 12%),
    dark: lighten($color-quaternary, 10%)
  ),  
  quinary: (
    base:  $color-quinary,
    light: lighten($color-quinary, 12%),
    dark: lighten($color-quinary, 10%)
  ),
  ui: (
    warning: #c13a3a,
    success: #83c13a
  )
);

// TYPOGRAPHY
// $font-primary: 'europa','Helvetica Neue', Helvetica, sans-serif;
// $font-secondary: 'europa','Helvetica Neue', Helvetica, sans-serif;
$font-secondary: 'sofia-pro', sans-serif;
$font-primary: 'sofia-pro', sans-serif;

$font-size-xSmall: 12.46px;
$font-size-small: 18.676px;
$font-size-base: 28px;
$font-size-h1: 88px;
$font-size-h2: 63px;
$font-size-h3: 42px;
$font-size-h4: 28px;
$baseline: ($font-size-base * 1.5);

$grid-max-width: 1200;
$grid-gutter: 20;
$grid-columns: 12;
$grid-column-width: ($grid-max-width - ($grid-gutter * ($grid-columns - 1))) / $grid-columns;

// RESPONSIVE BREAKPOINTS
$breakpoint-large: 1200px;
$breakpoint-medium: 800px;
$breakpoint-small: 768px;
$breakpoint-extra-small: 550px;

// Animation Durations
$animation-duration: 0.5s;
// IMG Paths
$relative-path: '_/img/'; 

// misc variables
$bottomBorderWidth: 12%;