// // Structure // ----------------------------------------------------------


// /*==========  Animations  ==========*/

// @include keyframes(pulse) {
//   0% {
//    color: palette(primary); 
//   }
//   20% { 
//     color: palette(secondary);
//   }  
//   40% { 
//     color: palette(tertiary);
//   }  
//   60% { 
//     color: palette(quaternary);
//   }  
//   80% { 
//     color: palette(quinary);
//   }
//   100% {
//    color: palette(primary); 
//   }
// }
// @include keyframes(backgroundPulse) {
//   0% {
//    background-color: palette(primary); 
//   }
//   20% { 
//     background-color: palette(secondary);
//   }  
//   40% { 
//     background-color: palette(tertiary);
//   }  
//   60% { 
//     background-color: palette(quaternary);
//   }  
//   80% { 
//     background-color: palette(quinary);
//   }
//   100% {
//    background-color: palette(primary); 
//   }
// }

// @include keyframes(fadeInDown){
//   from {
//      opacity: 0;
//      -webkit-transform: translate3d(0, -100%, 0);
//      transform: translate3d(0, -100%, 0);
//    }

//    to {
//      opacity: 1;
//      -webkit-transform: none;
//      transform: none;
//    }
// } 

// @include keyframes(animateBorderHeight) {
//   0%{
//     height: 0;
//   }
//   100%{
//     height: 15%;
//   }
// }
// @include keyframes(animateBorderWidth) {
//   0%{
//     width: 0;
//   }
//   100%{
//     width: 15%;
//   }
// }

// @include keyframes(fadeIn) {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }


// /*
//   SVG Animation
//  @keyframes blink {
//   0% {transform: scaleY(1);}
//   2% {transform: scaleY(0);}
//   4% {transform: scaleY(0);}
//   5% {transform: scaleY(1);}
//   100% {transform: scaleY(1);}
// } */

// .no-flexbox {
//   body {
//     position: relative;
//   }
//   .main {
//     float: left;
//     padding: 2% 6em 2em 5%;
//     position: relative;
//   }
//   .wrap {
//     max-width: pem($grid-max-width);
//     margin: 0 auto;
//   }
//   .row {
//     display: block;
//   }
//   // svg {
//   //   padding-top: 30%;
//   // }
//   // .illustration {
//   //   float: right;
//   // }
// }

//   /* Grid  Caclulations*/
// .fadedown {
//   animation-name: fadeInDown;
//   -webkit-animation-duration: 0.5s;
//    animation-duration: 0.5s;
//    -webkit-animation-fill-mode: both;
//    animation-fill-mode: both;
//    animation-timing-function: ease-in;

// }

// @for $i from 1 to $grid-columns {
//   .no-flexbox {
//     .grid-#{$i}-col {
//       width: columnCalc($i);
//     }
//   }
//   .grid-#{$i}-col {
//     flex-basis: columnCalc($i);
//   }
// }

// .siteFooter, .header__nav ul, .pagination {
//     @include rem(padding, 1.5rem 4rem);
// }

// .header__nav{
//   @include rem(margin, 0 0 1rem 0);
//   width: 100%;
//   line-height: 1.25em;
//   // background-color: rgba(#fff, 0.85);
//   ul {
//     margin: 0;
//     // padding: 0.5rem 2%;
//     @include rem(padding, 2rem 3rem);
//     list-style: none;
//     button, a {
//       @include font-size($font-size-small);
//       font-weight: 700;
//       transition: background-color $animation-duration ease-in, color $animation-duration ease-in;
//       line-height: 1em;
//     }
//     li{
//       button {
//         &:last-child {
//           padding-right: 0;
//         }
//       }
//       &:last-child {
//         margin-right: 0;

//       }
//     }
//   }
// }

// /* Flexbox Styles */


//   .row--content {
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: center; 
//     // padding: 4vh 4vw;
//   }
//   .main {
//     align-self: center;
//     // width: 70%;
//     max-width: pem(800px);
//     padding: 0 1em;
//     margin: 4em 0;
//     // height: 100%;

//     // order: -1;
//     // margin-right: 5%;
//     // position: relative;
//     // top: 50%;
//     // transform: translateY(-50%);
//   }

// .buttonReset {
//   outline: none;
//   border: none;
//   background: none;
//   padding: 0;
// }

//   .header__nav {
//     ul {
//       @extend %flex;
//       flex-wrap: wrap;
//       justify-content: space-between;
//       button, a{
//         @extend %flex;
//         align-items: flex-start;
//       }
//     }
//   }

// .mainHeader {
//   position: fixed;
//   width: 100%;
//   top: 0;
//   left: 0;
//   z-index: 20;
// }

// .headroom {
//     will-change: transform;
//     transition: transform 200ms linear;
// }
// .headroom--pinned {
//     transform: translateY(0%);
// }
// .headroom--unpinned {
//     transform: translateY(-100%);
// }

// // svg {
// //   width: 100%;
// //   height:90%;
// //   // height: 100vh;
// //   // min-height: 50vh;
// //   // padding-top: 30%;
// //   display: block;
// // /*   position: absolute;
// //   top: 0;
// //   left: 0; */
// // }

// // .wrap--row {
// //   padding: 20px;
// // }
// // .main {
// //   margin-bottom: 1.5em 0;
// // }



// /* 

// Illustration Styles

// @keyframes blink {
//   0% {transform: scaleY(1);}
//   2% {transform: scaleY(0);}
//   4% {transform: scaleY(0);}
//   5% {transform: scaleY(1);}
//   100% {transform: scaleY(1);}
// }


// #eye, #eye2 {
//   animation: blink 10s linear 2s infinite;
//   transform-origin: center;
// }

// #eye {
//   transform: scaleY(1,0.9);
// }

// .circle {
//     // background-color: palette(gray);
//     width: 50%;
//     height: 0;
//     padding-bottom: 50%;
//     border-radius: 50%;
//     &:after {
//      content: "";
//      display: block;
//      width: 100%;
//      height: 0;
//      padding-bottom: 100%;
//   } */
// // }