/**
*
* typography.scss
*
**/

$numofParagraphs: 3;
$baseAnimationDelay: 0.35s;

html {
  font: normal normal 300 62.5%/1.4em $font-secondary;
  // font-size: 2.24vw;
  transition: color $animation-duration ease-out;

}

body {
  @include font-size($font-size-base);
  animation: fadeIn ease-in 0.5s;
  transition: color $animation-duration ease-out;
}

.h1, .h2, .h3, .h4 {
  font-weight: 700;
  font-family: $font-primary;
  // color: #858282;
  margin-top: 0;
  @extend %fadeIn;
}
p {
  @extend %fadeIn;
  transition: color $animation-duration ease-out;
  line-height: 1.5em;
  }
.h1 {
  @include font-size($font-size-h1);
  font-size: 6.5vw;
  margin-bottom: pem($baseline, $font-size-h1);
  line-height: pem($baseline * 3, $font-size-h1);
}
.h2 {
  @include font-size($font-size-h2); /* fallback */
  margin-bottom: pem($baseline, $font-size-h2);
  line-height: pem($baseline * 2, $font-size-h2);
}
.h3 {
  @include font-size($font-size-h3);
  margin-bottom:pem($baseline, $font-size-h3);
  line-height: pem($baseline, $font-size-h3);
}
.h4 {
  @include font-size($font-size-h4);
  margin-bottom: pem($baseline, $font-size-h4);
  line-height: pem($baseline,$font-size-h4);
  text-transform: uppercase; 
}

p, ul, .figure, blockquote, .intro{
  @include rem(margin, 0 0 28px * 1.5);
}

.main {
 h1, h2, h3 {
  transition: color $animation-duration ease-out;
  transition-delay: ($numofParagraphs + 0.5) * $baseAnimationDelay;
 }
}
@for $i from 1 to $numofParagraphs {
  .main {
    p{
      &:nth-child(#{$i}){
        transition-delay: ($i * $baseAnimationDelay);
      }
    }
  }
}

em {
 font-weight: 400;
}

strong {
  font-weight: 700;
  font-style: normal;
}
a {
   // color: palette(primary, light);
   transition: color $animation-duration ease;
   text-decoration: none;
}
.link--bottomBorder--body {
  &:hover {
    &:after {
      width: 0;
    }
  &:after {
    width: 0;
    }
  }
}

.link--bottomBorder {
  position: relative;
  transition: color 0.2s ease-in;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    content: "";
    transition: width 0.2s ease-in, background-color $animation-duration ease-in;
  }
  &:hover {
    &:after{
      // width: 100%;
    }
  }
}
.link--bottomBorder--hue {
  cursor: pointer;
  transition: color 0.5s ease-in;
  &:after{
    width: 100%;
    height: 8px;
  }
  &:hover {
    //  animation: pulse 5s ease-out infinite;
    &:after {
      animation: backgroundPulse 5s ease-out infinite;
    }
  }
}


// blockquote, .box,  {
//   padding: 1em;
//   @extend %margin-bottom;
//   font-weight: 300;
//   font-style: italic;
// }

// .intro {
//   @include font-size($font-size-h3);
//   margin-bottom:pem($baseline, $font-size-h3);
//   line-height: pem($baseline*1.4, $font-size-h3);
//   padding: 1em;
//   font-style: italic;
//   font-weight: 300;
//   border-bottom: 2px solid $color-primary;
//   border-top: 2px solid $color-primary;
// }

@each $color in $colorSchemes {
  html.#{$color} {
    body, .link {
      color: palette(#{$color});
    }
    main 
      a {
      color: palette(#{$color});
      border-bottom: 4px solid lighten(palette(#{$color}), 22%);
      &:hover {
        border-bottom: 0;
      }
    }
    // .link--bottomBorder, a {
    //   color: palette(#{$color});
    //   // &:hover {
    //   //   color: palette(#{$color}, dark);
    //   // }
    // }
    .link--bottomBorder {
      color: palette(#{$color});
      border-bottom: 4px solid lighten(palette(#{$color}), 22%);
      &:after {
        background-color: palette(#{$color}, dark);
      }
      &:hover {
        color: palette(#{$color}, dark);
        border-bottom: 0;
        &:after {
          background-color: transparent;
          width: 100%;
        }
      }
    }
    .intro {
      border-top: 2px solid palette(#{$color});
      border-bottom: 2px solid palette(#{$color});
    }
    ::selection {
      background: palette(#{$color});
      color: #fff;
    }
  }
}