// UTILITIES // ----------------------------------------------------------

// Utility classes are low-level structural and positional traits that cann be applied directly to any element; 
// multiple utilities can be used together; and utilities can be used alongside component classes.
// Utilities exist because certain CSS properties and patterns are used frequently.
// Relying on utilities can help to reduce repetition and provide consistent implementations.

// u-utilityName
// Syntax: u-<utilityName>
// Utilities must use a camel case name, prefixed with a u namespace.


.group {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {clear: both;}
}

// MISC

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}